/*this is used to import the specific font*/
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@400;500&display=swap');

/*this is to improve coni*/
*{
  font-family: "Zilla Slab", serif;
}

.hero-background {
  position: relative;
  overflow: hidden;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-size: cover;
  background-repeat: repeat;
}




/*this is to give the container a cool animated gradient*/
.container {
  border: 1px solid #000; 
border-radius: 10px;
padding: 15px 45px;
text-align: center;
color: white; 
background: linear-gradient(217deg, #000000, #00b2ff, #000000, #6d00e1);
background-size: 800% 800%;

-webkit-animation: GradientAnimation 30s ease infinite;
-moz-animation: GradientAnimation 30s ease infinite;
-o-animation: GradientAnimation 30s ease infinite;
animation: GradientAnimation 30s ease infinite;
}

@-webkit-keyframes GradientAnimation {
0%{background-position:96% 0%}
50%{background-position:5% 100%}
100%{background-position:96% 0%}
}
@-moz-keyframes GradientAnimation {
0%{background-position:96% 0%}
50%{background-position:5% 100%}
100%{background-position:96% 0%}
}
@-o-keyframes GradientAnimation {
0%{background-position:96% 0%}
50%{background-position:5% 100%}
100%{background-position:96% 0%}
}
@keyframes GradientAnimation {
0%{background-position:96% 0%}
50%{background-position:5% 100%}
100%{background-position:96% 0%}
}
/* */
.title,
.subtitle {
  font-family: 'Zilla Slab', serif;
  margin-bottom: 20px;
}

/* */
.button {
  align-items: center;
  appearance: none;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  background: rgb(89,9,238);
  background: radial-gradient(circle, rgba(89,9,238,1) 0%, rgba(201,34,168,1) 84%, rgba(249,44,138,1) 100%);  
}

/* */
.button:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

/* */
.button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px;
  transform: translateY(-2px);
  background: rgb(89,9,238);
  background: radial-gradient(circle, rgba(89,9,238,1) 0%, rgba(201,34,168,1) 64%, rgba(249,44,138,1) 100%);   
}

/* */
.button:active {
  color: whitesmoke;
  transform: translateY(2px);
  background: rgb(249,44,138);
  background: radial-gradient(circle, rgba(249,44,138,1) 0%, rgba(201,34,168,1) 64%, rgba(89,9,238,1) 100%); 
}

.buttonWhite {
  color: white;
  width: 150px;
}


.field,
.label,
.box {
background: rgba(255, 255, 255, 0.07);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7.5px);
-webkit-backdrop-filter: blur(7.5px);
color: aliceblue;
}

.sbutton,
.input {
color: aliceblue;
background: rgba(255, 255, 255, 0.1);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7.5px);
-webkit-backdrop-filter: blur(7.5px);
}

